*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    /* border: 5px solid red; */
    height: 41.2rem;
    width: 100%;
    display: grid;
    grid-template-columns: 7rem 18rem 40rem 23.7rem;
    background: url("images/BG5.jpg");
    /* overflow: hidden; */
    margin: 2px;
}
.box{
    height: 100%;
    /* border: 2px solid green; */
}
.box3{
    backdrop-filter: blur(3px);
}
.box1{
    /* display: flex;
    flex-wrap: wrap;
    border-right: 1px solid ; */
    box-shadow: 0 0 3px white;
    border-radius: 5px;
    /* padding-left: 1rem */
    overflow: scroll;
    scrollbar-width: 1px color red;
    overflow-x: hidden;   
}
.box1::-webkit-scrollbar-thumb {
    background: black; /* Change to desired handle color */
}
.box1::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.box1::-webkit-scrollbar {
    width: 2px; 
}
.box1 .group{
    border: 2px solid red;
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    margin-top: 4px;
    /* background: url(./images/download.png); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 1rem;
}
.box1 .group p{
    color: white;
    font-weight: bold;
    backdrop-filter: blur(7px);
    display: block;
    height: 2rem;
    text-align: center;
    line-height: 1.5rem;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    margin-left: 3rem;
    margin-top: 1rem;
    overflow: hidden;
    width: 0.1px;
    transition: all 0.9s;
    position: relative;
    left: -70px;
    top: 45px;
}
.box1 .group:hover p{
    width: 7rem;
}
.box1 .add{
    height: 4rem;
    width: 4rem;
    /* border: 2px solid red; */
    border-radius: 100%;
    margin: 20px 0 0 20px;
    color: white;
    text-align: center;
    line-height: 3.5rem;
    font-size: 100px;
    font-weight: bold;
    color: chartreuse;
    box-shadow: 0 0 4px white;
    padding-top: 3px;
    user-select: none;
    cursor: pointer;
}
.box1 .add .add-p{
    color: white;
    font-size: 23px;
    /* border: 2px solid red; */
    width: 18rem;
    height: 3rem;
    left: 30rem;
    position: absolute;
    line-height: 2rem;
    top: 15rem;
    z-index: 100;
    height: 6rem;
    width: 25rem;
    line-height: 6rem;
    box-shadow: 2px 2px 3px yellowgreen,-2px -2px 3px green;
    backdrop-filter:  blur(4px);
    transition: all 0.5s;
    transform: scale(0);
}
.box1 .add:hover p{
    transform: scale(1);
}
.about .group p{
    color: green;
    font-weight: bold;
    backdrop-filter: blur(7px);
    display: block;
    height: 2rem;
    text-align: center;
    line-height: 1.5rem;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    margin-left: 3rem;
    margin-top: 1rem;
    overflow: hidden;
    width: 0.1px;
    transition: all 0.9s;
    position: relative;
    left: -70px;
    top: 45px;
}
.box1 .group:hover p{
    width: 7rem;
}
.box1 .h{
    border-bottom: 1px solid ;
    width: 100%;
    height: 2.6rem;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: -1 0 2px pink;
    border-radius: 5px;   
    backdrop-filter: blur(2px);
    color: white;
    font-size: 20px;
    user-select: none;
    text-align: center;
    padding-top: 11px;
    font-weight: bold;
}
.box2{
    border-right: 1px solid ;
    box-shadow: 0 0 3px white;
    border-radius: 5px;
}
.box2 .friend{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* margin-top: 1rem; */
    border-bottom: 1px solid;
    box-shadow: -1 0 2px pink;
    border-radius: 5px;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    /* backdrop-filter: blur(2px); */
    user-select: none;
}
.box .online{
    /* border: 2px solid red; */
    height: 4rem;
    width: 100%;
    display: flex;
    border-radius: 6px;
    box-shadow: 0 0 1px yellow;
    margin-top: 10px;
    backdrop-filter: blur(2px);
}
.box .online .img{
    /* border: 2px solid red; */
    height: 3rem;
    width: 3rem;   
    background: url(./images/download.png);
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    background-size: contain;
    border-radius: 100%;
    margin-top: 0.4rem;
    box-shadow: 0 0 2px white;
    margin-left: 5px;
}
.box .online .nickname{
    /* border: 2px solid red; */
    width: 4rem;
    height: 1rem;
    text-align: center;
    color: white;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin-top: 10px;
}
.box .online .on-off{
    color: yellowgreen;
    margin-top: 10px;
    display: block;
    margin-left: 14px;
}
.box3{
    /* border: 3px solid red; */
    border-right: 1px solid ; 
    box-shadow: 0 0 4px white; 
    border-radius: 5px; 
    backdrop-filter: blur(4px);
}
.box3 .person{
    /* border-bottom: 2px solid red; */
    box-shadow: 0 0 3px white;
    display: flex;
    border-radius: 5px;
    padding: 0 20px 0 20px;
}
.box3 .person .time{
    color: white;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    right: 20px;
    margin-top: 20px;
}
.box3 .person .img{
    height: 3rem;
    width: 3rem;   
    background: url(./images/3048127.png);
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    background-size: contain;
    border-radius: 100%;
    margin-top: 0.4rem;
    box-shadow: 0 0 2px white;
    margin-left: 5px;    
}
.box3 .person .about .nickname{
    width: 4rem;
    height: 1rem;
    text-align: center;
    color: white;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin-top: 10px;
}
.box3 .person .about .on-off{
    color: yellowgreen;
    margin-top: 10px;
    display: block;
    margin-left: 14px;
}
.box3 .chat{
    border-bottom: 1px solid;
    height: 32rem;
    width: 100%;
    box-shadow: 0 0 3px white;
    border-radius: 5px;
    padding: 0 20px 0 20px;
    position: fixed;
    box-shadow: 0 0 3px white;
    border-radius: 5px;
    overflow: scroll;
    scrollbar-width: 1px color red;
    overflow-x: hidden; 
}
.chat::-webkit-scrollbar-thumb {
    background: black; /* Change to desired handle color */
}
.chat::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.chat::-webkit-scrollbar {
    width: 2px; 
}
.chat::-webkit-scrollbar-thumb:hover chat::-webkit-scrollbar {
    width: 12px; 
}
.box3 .chat .left{
    color: white;
    width: 16rem;
    padding: 10px;
    box-shadow: 0 0 1px white;
    margin-top: 20px;
    /* border: 1px solid red; */
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, .2);

}
.box3 .chat .right{
    color: white;
    width: 16rem;
    padding: 10px;
    box-shadow: 0 0 1px white;
    margin-top: 20px;
    margin-left: 20rem;
    backdrop-filter: blur(3px);
}
.box3 .inp{
    position: fixed;
    top: 37rem;
    display: flex;
    left: 0.5rem;
}
.box3 .inp label{
    font-size: 26px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-left: 10px;
}
.box3 .inp input{
    border: 2px solid red;
    width: 28rem;
    height: 2.5rem;
    border: none;
    outline: none;
    background: transparent;
    box-shadow: 0 0 2px white;
    padding-left: 10px;
    border-radius: 1px;
    color: white;
    font-size: 23px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    backdrop-filter: blur(3px);
}
.box3 .inp #send{
    /* border: 2px solid red; */
    width: 5rem;
    font-size: 20px;
    font-weight: bold;
    color: yellowgreen;
    padding-right: 1rem;
    cursor: pointer;
}
::placeholder{
    color: white;
}
.box4{
    /* border: 2px solid red;
    width: 100%; */
}
.box4 .thems{
    display: flex;
    /* border: 2px solid red; */
    /* width: 100%; */
    justify-content: space-between;
    padding: 10px 10px 0 10px;
    /* flex-wrap: wrap; */
}
.box4 h1{
    color: white;
    text-align: center;
    border-bottom: 1px solid ;
    box-shadow: 0 0 3px pink;
    border-radius: 5px;
    /* border: 2px solid red; */
}
.box4 .logout{
    color: white;
    text-align: center;
    border-bottom: 1px solid ;
    box-shadow: 0 0 3px pink;
    border-radius: 5px;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    /* border: 2px solid red; */
}
.box4 .logout i{
    color: white;
}
.box4 .img{
    /* border: 2px solid red;s */
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    margin: 40px 0px 0 8px;
    box-shadow: 0 0 4px white;
}
.box4 .imgs{
    border: 2px solid red;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.box3 .right{
    /* background-color: red; */
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(20px);

}